<form #sellingInvoiceForm="ngForm" autocomplete="off" class="mt-1 ml-1 mr-1">

    <div class="row">
        <div class="col-sm-2">
            <div class="form-group">
                <label>Transaction Type</label>
                <select name="SellingTransactionTypeId" #SellingTransactionTypeId="ngModel" [(ngModel)]="saleTypeId"
                    class="form-control">
                    <!-- <option value="">- Select -</option> -->
                    <option *ngFor="let type of sellingTransactionTypes" value="type.Id">
                        {{ type.SellingTransactionType }}</option>
                </select>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Seller</label>
                        <div class="form-row">
                            <div class="col-8">
                                <input name="SalesManName" #SalesManName="ngModel" [(ngModel)]="salesMan.Name"
                                    type="text" class="form-control" readonly>
                            </div>
                            <div class="col-4">
                                <button class="btn btn-primary" (click)="onChangeSalesManRequest()">Change</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Shift Owner</label>
                        <input name="ShiftOwnerName" #ShiftOwnerName="ngModel" [(ngModel)]="shiftOwner.Name" type="text"
                            class="form-control" readonly>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Customer</label>
                        <app-customers-selector (gotCustomers)="onGettingCustomers($event)"
                            (cannotGetCustomers)="onCannotGetCustomers()">
                        </app-customers-selector>
                    </div>
                </div>
                <div class="col-sm-6">
                    <br>
                    <label>{{ saleCustomer.CustomerName }}</label>
                </div>
            </div>
        </div>
    </div>

    <!-- ////////////////////////////////////////////////////////////////////////////////////////// -->
    <div class="row">
        <div class="col-md-4">
            <app-items-selector (gotItems)="onGettingItems($event)" (cannotGetItems)="onCannotGetItems()">
            </app-items-selector>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4"></div>
    </div>

    <table class="table table-hover table-striped table-bordered mt-2" style="table-layout: fixed;">
        <thead class="thead-light">
            <th>ItemName</th>
            <th>ExpiryDate</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Stock</th>
            <th>Subtotal</th>
            <th>Taxes %</th>
            <th>Taxes</th>
            <th>Discount %</th>
            <th>Discount</th>
            <th>Total</th>
        </thead>
        <tbody>
            <tr *ngFor="let item of saleItemsDisplay; let i = index;">
                <td>{{ item.ItemNameEnglish }}</td>
                <td>{{ item.ItemExpiryDate }}</td>
                <td>
                    <input type="number" name="SaleItemDisplayQuantity" #SaleItemDisplayQuantity="ngModel"
                        [(ngModel)]="saleItemsDisplay[i].SellingTransactionItemQuantity"
                        (change)="onChangeItemQuantity(i)" class="w-75">
                </td>
                <td>{{ item.ItemSellingPrice }}</td>
                <td>{{ item.Stock }}</td>
                <td>{{ item.ItemSubtotal }}</td>
                <td>
                    <input type="number" name="SaleItemDisplaySellingTaxesPercentage"
                        #SaleItemDisplaySellingTaxesPercentage="ngModel"
                        [(ngModel)]="saleItemsDisplay[i].ItemSellingTaxesPercentage"
                        (change)="onChangeItemSellingTaxesPercentage(i)" class="w-75">
                </td>
                <td>
                    <input type="number" name="SaleItemDisplaySellingTaxesValue"
                        #SaleItemDisplaySellingTaxesValue="ngModel"
                        [(ngModel)]="saleItemsDisplay[i].ItemSellingTaxesValue"
                        (change)="onChangeItemSellingTaxesValue(i)" class="w-75">
                </td>
                <td>
                    <input type="number" name="SaleItemDisplaySellingDiscountPercentage"
                        #SaleItemDisplaySellingDiscountPercentage="ngModel"
                        [(ngModel)]="saleItemsDisplay[i].ItemSellingDiscountPercentage"
                        (change)="onChangeItemSellingDiscountPercentage(i)" class="w-75">
                </td>
                <td>
                    <input type="number" name="SaleItemDisplaySellingDiscountValue"
                        #SaleItemDisplaySellingDiscountValue="ngModel"
                        [(ngModel)]="saleItemsDisplay[i].ItemSellingDiscountValue"
                        (change)="onChangeItemSellingDiscountValue(i)" class="w-75">
                </td>
                <td>{{ item.ItemTotal }}</td>
            </tr>
        </tbody>
    </table>



    <div class="fixed-bottom">
        <div>
            <table class="table" style="table-layout: fixed;">
               <thead>
                   <th>Overall Taxes %</th>
                   <th>Overall Taxes</th>
                   <th>Overall Discount %</th>
                   <th>Overall Discount</th>
                   <th>Subtotal</th>
                   <th>Items Taxes %</th>
                   <th>Items Taxes</th>
                   <th>Items Discount %</th>
                   <th>Items Discount</th>
                   <th>Total</th>
                   <th></th>
               </thead>
                <tr>
                    <td>       
                            <input name="TaxesPercentage_OverInvoice" #TaxesPercentage_OverInvoice="ngModel"
                                type="number" [(ngModel)]="TaxesPercentageOverInvoice" class="form-control">    
                    </td>
                    <td>                      
                            <input name="TaxesValue_OverInvoice" #TaxesPercentage_OverInvoice="ngModel" type="number"
                                [(ngModel)]="TaxesValueOverInvoice" class="form-control">                       
                    </td>
                    <td>
                            <input name="DiscountPercentage_OverInvoice" #TaxesPercentage_OverInvoice="ngModel"
                                type="number" [(ngModel)]="DiscountPercentageOverInvoice" class="form-control">
                    </td>
                    <td>
                            <input name="DiscountValue_OverInvoice" #TaxesPercentage_OverInvoice="ngModel" type="number"
                                [(ngModel)]="DiscountValueOverInvoice" class="form-control">
                    </td>
                    <td>
                            <input name="Subtotal" #Subtotal="ngModel" type="text" [(ngModel)]="saleSubtotal"
                                class="form-control" readonly>
                    </td>
                    <td>
                            <input name="CalculatedTaxesPercentage" #TaxesPercentage="ngModel" type="number"
                                [(ngModel)]="saleCalculatedTaxesPercentage" class="form-control" readonly>
                    </td>
                    <td>
                            <input name="CalculatedTaxesValue" #TaxesValue="ngModel" type="number"
                                [(ngModel)]="saleCalculatedTaxesValue" class="form-control" readonly>
                    </td>
                    <td>
                            <input name="CalculatedDiscountPercentage" #DiscountPercentage="ngModel" type="number"
                                [(ngModel)]="saleCalculatedDiscountPercentage" class="form-control" readonly>
                    </td>
                    <td>
                            <input name="CalculatedDiscountValue" #DiscountValue="ngModel" type="number"
                                [(ngModel)]="saleCalculatedDiscountValue" class="form-control" readonly>
                    </td>
                    <td>
                            <input name="Total" #Total="ngModel" type="text" [(ngModel)]="saleTotal"
                                class="form-control" readonly>
                    </td>
                    <td>
                            <button type="submit" class="btn btn-primary">
                                Submit
                            </button>
                    </td>
                </tr>
            </table>
        </div>

        <div class="row">
            <div class="col-sm-2">

            </div>
            <div class="col-sm-1">

            </div>
            <div class="col-sm-1">

            </div>
            <div class="col-sm-1">

            </div>
            <div class="col-sm-1">

            </div>
            <div class="col-sm-3">

            </div>

        </div>

        <div class="row" style="bottom: 0; background-color: olive; color: whitesmoke; height: 20px;">
            <div class="col-sm-2">
                <div class="form-group">
                    <label>NumberOfItems: </label>

                    <input name="NumberOfItems" #NumberOfItems="ngModel" type="number" [(ngModel)]="saleNumberOfItems"
                        class="form-control">
                    <!-- <label name="NumberOfItems" #NumberOfItems="ngModel" class="ml-1"
                        [(ngModel)]="sellingTransactionMaster.NumberOfItems">0</label> -->
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group">
                    <label>NumberOfPieces: </label>
                    <input name="NumberOfPieces" #NumberOfPieces="ngModel" type="number"
                        [(ngModel)]="saleNumberOfPieces" class="form-control">
                    <!-- <label name="NumberOfPieces" #NumberOfPieces="ngModel" class="ml-1"
                        [(ngModel)]="sellingTransactionMaster.NumberOfPieces">0</label> -->
                </div>
            </div>
        </div>


    </div>

    <!-- <input name="TransactionId" type="hidden" #TransactionId="ngModel"
        [(ngModel)]="sellingTransactionMaster.TransactionId">
    <input name="TransactionTiming" type="hidden" #TransactionTiming="ngModel"
        [(ngModel)]="sellingTransactionMaster.TransactionTiming"> -->

    <!-- <input name="SellerId" #SellerId="ngModel" type="hidden"
                    [(ngModel)]="sellingTransactionMaster.SellerId">
                <input name="ShiftOwnerId" #ShiftOwnerId="ngModel" type="hidden"
                    [(ngModel)]="sellingTransactionMaster.ShiftOwnerId"> -->
    <!-- <input name="CustomerId" #CustomerId="ngModel" type="hidden"
                    [(ngModel)]="sellingTransactionMaster.CustomerId" class="form-control"> -->

</form>