<form #sellingInvoiceForm="ngForm" autocomplete="off" class="mt-1 ml-1 mr-1">
    <input name="TransactionId" type="hidden" #TransactionId="ngModel"
        [(ngModel)]="sellingTransactionMaster.TransactionId">
    <input name="TransactionTiming" type="hidden" #TransactionTiming="ngModel"
        [(ngModel)]="sellingTransactionMaster.TransactionTiming">
    <div class="row">
        <div class="col-sm-2">
            <div class="form-group">
                <label>Transaction Type</label>
                <select name="SellingTransactionTypeId" #SellingTransactionTypeId="ngModel"
                    [(ngModel)]="sellingTransactionMaster.SellingTransactionTypeId" class="form-control">
                    <!-- <option value="">- Select -</option> -->
                    <option *ngFor="let type of sellingTransactionTypes" value="type.Id">
                        {{ type.SellingTransactionType }}</option>
                </select>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Seller</label>
                        <div class="form-row">
                            <div class="col-8">
                                <input name="SalesManName" #SalesManName="ngModel" [(ngModel)]="salesMan.Name"
                                    type="text" class="form-control" readonly>
                            </div>
                            <div class="col-4">
                                <button class="btn btn-primary" (click)="onChangeSalesManRequest()">Change</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Shift Owner</label>
                        <input name="ShiftOwnerName" #ShiftOwnerName="ngModel" [(ngModel)]="shiftOwner.Name" type="text"
                            class="form-control" readonly>
                    </div>
                </div>
                <input name="SellerId" #SellerId="ngModel" type="hidden"
                    [(ngModel)]="sellingTransactionMaster.SellerId">
                <input name="ShiftOwnerId" #ShiftOwnerId="ngModel" type="hidden"
                    [(ngModel)]="sellingTransactionMaster.ShiftOwnerId">
            </div>
        </div>
        <div class="col-sm-4">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Customer</label>
                        <app-customers-selector (gotCustomers)="onGettingCustomers($event)"
                            (cannotGetCustomers)="onCannotGetCustomers()">
                        </app-customers-selector>
                    </div>
                </div>
                <div class="col-sm-6">
                    <br>
                    <label>{{ saleCustomer.CustomerName }}</label>
                    <input name="CustomerId" #CustomerId="ngModel" type="hidden"
                        [(ngModel)]="sellingTransactionMaster.CustomerId" class="form-control">
                </div>
            </div>
        </div>
    </div>

    <!-- ////////////////////////////////////////////////////////////////////////////////////////// -->
    <div class="row">
        <div class="col-md-4">
            <app-items-selector (gotItems)="onGettingItems($event)" (cannotGetItems)="onCannotGetItems()">
            </app-items-selector>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4"></div>
    </div>
    
        <table class="table table-hover table-striped table-bordered mt-2" 
            style="table-layout: fixed;">
            <thead class="thead-light">
                <th>ItemName</th>
                <th>ExpiryDate</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Stock</th>
                <th>Subtotal</th>
                <th>Taxes %</th>
                <th>Taxes</th>
                <th>Discount %</th>
                <th>Discount</th>
                <th>Total</th>
            </thead>
            <tbody>
                <tr *ngFor="let item of saleItemsDisplay; let i = index;">
                    <td>{{ item.ItemNameEnglish }}</td>
                    <td>{{ item.ItemExpiryDate }}</td>
                    <td>
                        <input type="number" name="SaleItemDisplayQuantity" #SaleItemDisplayQuantity="ngModel"
                            [(ngModel)]="saleItemsDisplay[i].SellingTransactionItemQuantity"
                            (change)="updateSubtotal(i)" class="w-75">
                    </td>
                    <td>{{ item.ItemSellingPrice }}</td>
                    <td>{{ item.Stock }}</td>
                    <td>{{ item.ItemSubtotal }}</td>
                    <td>
                        <input type="number" name="SaleItemDisplaySellingTaxesPercentage"
                            #SaleItemDisplaySellingTaxesPercentage="ngModel"
                            [(ngModel)]="saleItemsDisplay[i].ItemSellingTaxesPercentage"
                            (change)="updateItemSellingTaxesValue(i)" class="w-75">
                    </td>
                    <td>
                        <input type="number" name="SaleItemDisplaySellingTaxesValue"
                            #SaleItemDisplaySellingTaxesValue="ngModel"
                            [(ngModel)]="saleItemsDisplay[i].ItemSellingTaxesValue"
                            (change)="updateItemSellingTaxesPercentage(i)" class="w-75">
                    </td>
                    <td>
                        <input type="number" name="SaleItemDisplaySellingDiscountPercentage"
                            #SaleItemDisplaySellingDiscountPercentage="ngModel"
                            [(ngModel)]="saleItemsDisplay[i].ItemSellingDiscountPercentage"
                            (change)="updateItemSellingDiscountValue(i)" class="w-75">
                    </td>
                    <td>
                        <input type="number" name="SaleItemDisplaySellingDiscountValue"
                            #SaleItemDisplaySellingDiscountValue="ngModel"
                            [(ngModel)]="saleItemsDisplay[i].ItemSellingDiscountValue"
                            (change)="updateItemSellingDiscountPercentage(i)" class="w-75">
                    </td>
                    <td>{{ item.ItemTotal }}</td>
                </tr>
            </tbody>
        </table>
    
    

    <div class="fixed-bottom">
        <div class="row">
            <div class="col-sm-2">
                <div class="form-group">
                    <label>Subtotal</label>
                    <input name="Subtotal" #Subtotal="ngModel" type="text"
                        [(ngModel)]="sellingTransactionMaster.Subtotal" class="form-control" readonly>
                </div>
            </div>
            <div class="col-sm-1">
                <div class="form-group">
                    <label>Taxes %</label>
                    <input name="TaxesPercentage" #TaxesPercentage="ngModel" type="number" [(ngModel)]="sellingTransactionMaster.TaxesPercentage"
                        class="form-control">
                </div>
            </div>
            <div class="col-sm-1">
                <div class="form-group">
                    <label>Taxes</label>
                    <input name="TaxesValue" #TaxesValue="ngModel" type="number" [(ngModel)]="sellingTransactionMaster.TaxesValue"
                        class="form-control">
                </div>
            </div>
            <div class="col-sm-1">
                <div class="form-group">
                    <label>Discount %</label>
                    <input name="DiscountPercentage" #DiscountPercentage="ngModel" type="number" [(ngModel)]="sellingTransactionMaster.DiscountPercentage"
                        class="form-control">
                </div>
            </div>
            <div class="col-sm-1">
                <div class="form-group">
                    <label>Discount</label>
                    <input name="DiscountValue" #DiscountValue="ngModel" type="number" [(ngModel)]="sellingTransactionMaster.DiscountValue"
                        class="form-control">
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label>Total</label>
                    <input name="Total" #Total="ngModel" type="text" [(ngModel)]="sellingTransactionMaster.Total"
                        class="form-control">
                </div>
            </div>
            <div class="col-sm-3 form-group">
                <button type="submit" class="btn btn-primary">
                    Submit
                </button>
            </div>
        </div>

        <div class="row" style="bottom: 0; background-color: olive; color: whitesmoke; height: 20px;">
            <div class="col-sm-2">
                <div class="form-group">
                    <label>NumberOfItems: </label>

                    <input name="NumberOfItems" #NumberOfItems="ngModel" type="number"
                        [(ngModel)]="sellingTransactionMaster.NumberOfItems" class="form-control">
                    <!-- <label name="NumberOfItems" #NumberOfItems="ngModel" class="ml-1"
                        [(ngModel)]="sellingTransactionMaster.NumberOfItems">0</label> -->
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group">
                    <label>NumberOfPieces: </label>
                    <input name="NumberOfPieces" #NumberOfPieces="ngModel" type="number"
                        [(ngModel)]="sellingTransactionMaster.NumberOfPieces" class="form-control">
                    <!-- <label name="NumberOfPieces" #NumberOfPieces="ngModel" class="ml-1"
                        [(ngModel)]="sellingTransactionMaster.NumberOfPieces">0</label> -->
                </div>
            </div>
        </div>


    </div>

</form>